* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1500px;
    margin: 100px auto;
    border: 5px solid black;
}

h1 {
    text-align: center;
    margin: 20px;
    font-size: 70px;
}

.recipe {
    width: 1250px;
    border: 3px solid black;
    margin: 20px auto;
}

img {
    display: inline-block;
    width: 500px;
    height: 281px;
}

.recipe-description {
    display: inline-block;
    width: 600px;
    vertical-align: top;
    margin: 20px 70px;
}

.title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.description {
    font-size: 20px;
    margin-bottom: 20px;
}

.duration {
    width: 400px;
    display: inline-block;
}

.time-duration {
    font-size: 14px;
    list-style: none;
    display: inline-block;
}

.time-duration li {
    display: inline-block;
    margin-right: 7px;
}

.recipe-link {
    background-color: orange;
    width: 150px;
    height: 38px;
    margin: 0 10px;
    text-align: center;
    line-height: 38px;
    border: 3px solid brown;
    display: inline-block;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
} 

#chicken-adobo {
    background-color: bisque;
}

#american-goulash {
    background-color: aquamarine;
}

#pork-sinigang {
    background-color: aqua;
}